<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header class="heading">
    <h1>Brandon's Cookbook</h1>
  </header>