<%- include('./partials/header') %>
  
  <body>
    <div class="outline">
      <p>Hi, I'm Brandon and my favorite food is pig in blanket.</p>
      <p>My spectacular cooking experience includes microwavable delights and tortillas delicately cooked on the stove with cheese. I have also heated up a few mozzerella sticks in my time, in the oven.</p>
  </div>
  <a href="/recipes">
    <button class="button">Recipes</button>
  </a>
  </body>
</html>
